
:root {
    --color-principal: #043873;
    --color-secundario: #4F9CF9;
    --color-box: #FFE492;
    --color-contenedores: #A7CEFC;
    --hover-color: #FFFFFF;
    --shadow-color: rgba(0, 0, 0, 0.2);
}



.tables {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 0.8rem;
}

.table-container-1,
.table-container-2,
.table-container-3,
.table-container-4 {

    padding: 10px;
}

table {
    width:100%;
    border-collapse: collapse;
    margin-top: 10px;
}


table th{
    border: none;
    padding: 5px;
    text-align: center;
    color: white;
    background: var( --color-principal);

}

table td {
    border: none;
    padding: 3px;
    text-align: center;
    color: black;
}

.fila-resaltada {
    background-color: #dc3545; /* Un color rojo claro */
    font-weight: bold; /* Opcional, para hacer el texto más visible */
}

#graficoHoras {
    width: 80% !important;
    max-width: 600px; /* Evita que se expanda demasiado */
    height: 400px !important; /* Altura suficiente para evitar espacios vacíos */
    margin: auto; /* Centrar el gráfico */
}
