<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/tablas.css" rel="stylesheet">
    <title>OwlManager</title>
</head>

<body>
<header class="header">
    <div class="logo-container">
        <img src="/img/buho.png" class="logoImg" alt="Logo de Owl Manager">
        <a class="logotexto" href="/templates/index">Owl Manager Dashboard</a>
    </div>

    <nav class="sidebar">
        <h2>Menú</h2>
        <ul class="nav-list">
            <li><a href="/templates/index">Inicio</a></li>

            <li>
                <a class="toggle"><i class="fas fa-users"></i> Gestión Usuarios</a>
                <ul class="submenu none">
                    <li><a href="/templates/nuevo-empleado"><i class="fas fa-user-plus"></i> Nuevo</a></li>
                    <li><a href="/templates/lista-empleado"><i class="fas fa-list"></i> Listado</a></li>
                    <li><a href="/templates/registro-horas"><i class="fas fa-clock"></i> Registro de Tiempo</a></li>
                    <li><a href="/templates/lista-registro-horas"><i class="fas fa-list-ol"></i> Lista Registro de Tiempo</a></li>
                </ul>
            </li>

            <li>
                <a class="toggle"><i class="fas fa-cogs"></i> Gestión del Inventario</a>
                <ul class="submenu none">
                    <li><a href="/templates/nuevo-producto"><i class="fas fa-box-open"></i> Crear Producto</a></li>
                    <li><a href="/templates/lista-insumo"><i class="fas fa-th-list"></i> Lista de Productos</a></li>
                    <li><a href="/templates/almacen"><i class="fas fa-warehouse"></i> Ubicar en Almacén</a></li>
                    <li><a href="/templates/lista-almacenaje"><i class="fas fa-boxes"></i> Almacén</a></li>
                    <li><a href="/templates/recibirDevoluciones"><i class="fas fa-undo-alt"></i> Recibir Devoluciones</a></li>
                    <li><a href="/templates/reabastecerAlmacen"><i class="fas fa-arrow-circle-up"></i> Reabastecimiento</a></li>
                </ul>
            </li>

            <li>
                <a class="toggle"><i class="fas fa-project-diagram"></i> Gestión de Proyectos</a>
                <ul class="submenu none">
                    <li><a href="/templates/nuevo-proyecto"><i class="fas fa-plus-circle"></i> Nuevo</a></li>
                    <li><a href="/templates/recibirPedidos"><i class="fas fa-truck-loading"></i> Recibir Pedidos</a></li>
                    <li><a href="/templates/lista-proyectos"><i class="fas fa-tasks"></i> Lista Proyecto</a></li>
                </ul>
            </li>

            <li>
                <a class="toggle"><i class="fas fa-exchange-alt"></i> Gestión de Transferencias</a>
                <ul class="submenu none">
                    <li><a href="/templates/transferir-almacen"><i class="fas fa-arrow-alt-circle-right"></i> Transferir a almacén</a></li>
                    <li><a href="/templates/transferir-proyecto"><i class="fas fa-arrow-alt-circle-left"></i> Transferir a proyecto</a></li>
                    <li><a href="/templates/lista-transferenciaAlmacen"><i class="fas fa-exchange-alt"></i> Lista Transferencia Almacén</a></li>
                    <li><a href="/templates/lista-transferencia"><i class="fas fa-exchange-alt"></i> Lista Transferencia Proyectos</a></li>
                </ul>
            </li>

            <li>
                <a class="toggle"><i class="fas fa-chart-line"></i> Reportes</a>
                <ul class="submenu none">
                    <li><a href="#"><i class="fas fa-project-diagram"></i> Avance en proyecto</a></li>
                    <li><a href="#"><i class="fas fa-box"></i> Inventario de proyecto</a></li>
                    <li><a href="#"><i class="fas fa-exclamation-triangle"></i> Insumos Faltantes</a></li>
                </ul>
            </li>


            <li><a href="/templates/login">Logout</a></li>
        </ul>
    </nav>
</header>

<main class="contenedor-principal">
    <section class="taskbar">
        <h1>Welcome</h1>
        <div class="taskbar-actions">
            <div class="notification">
                <span class="badge">3</span>
                <i class="fas fa-bell"></i>
                <div class="notification-menu">
                    <a href="#">Notficación 1</a>
                    <a href="#">Notficación 2</a>
                </div>

            </div>

            <!-- Menú de configuración -->
            <div class="settings">
                <i class="fas fa-cog"></i>
                <div class="settings-menu">
                    <a href="#">Idioma</a>
                    <a href="#">Tema</a>
                </div>
            </div>

            <div class="user-avatar">
                <img src="/img/avatar2.png" alt="Usuario">
                <div class="user-menu">
                    <a href="#">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </section>

    <section class="main-index">
        <div class="contenedor">
            <section class="cont-main">
                <section class="cards">
                    <div class="card" style="background: #A3C1DA">

                        <div class="info">
                            <h3>Proyectos para el mes</h3>
                            <span class="number" id="totalProyectoMes">0</span>
                        </div>
                    </div>
                    <div class="card" style="background: #bdecb6">

                        <div class="info">
                            <h3>Proyecto terminado del mes</h3>
                            <span class="number" id="totalProyectoFinalizadosMes">0</span>
                        </div>
                    </div>
                    <div class="card" style="background: #F9E5A8">

                        <div class="info">
                            <h3>Total de proyectos entregados</h3>
                            <span class="number" id="totalProyectoFinalizados">0</span>
                        </div>
                    </div>
                    <div class="card" style="background: #F4C2C2">

                        <div class="info">
                            <h3>Total de faltantes</h3>
                            <span class="number" id="totalInsumosSinStock">0</span>
                        </div>
                    </div>
                </section>

                <section class="tables">
                    <div class="tablas-mes">
                        <div class="table-container-1">
                            <h2>Proyectos del Mes</h2>
                            <table id="tablaProyectoMes">
                                <thead>
                                <tr>
                                    <th>Fecha Inicio</th>
                                    <th>Número de Proyecto</th>
                                    <th>Descripción</th>
                                    <th>Horas Estimadas</th>
                                    <th>Horas Reales</th>
                                    <th>Fecha Fin</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                        <div class="table-container-2">
                            <h2>Proyectos Terminados del Mes</h2>
                            <table id="tablaProyectoMesTerminados">
                                <thead>
                                <tr>
                                    <th>Código Proyecto</th>
                                    <th>Descripción</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Horas Estimadas</th>
                                    <th>Horas Reales</th>
                                    <th>Estado</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </section>

                <div class="tablas-indicadores">
                    <div class="table-container-3">
                            <table id="tablaHorasHombre" style="display: none">
                            <thead>
                            <tr>
                                <th>Número de Proyecto</th>
                                <th>Descripción</th>
                                <th>Horas Estimadas</th>
                                <th>Horas Reales</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <canvas id="graficoHoras" width="400" height="200"></canvas>
                    </div>

                    <div class="table-container-4">
                        <h2>Insumos con bajo stock</h2>
                        <table id="consumoFaltantes">
                            <thead>
                            <tr>
                                <th>Ubicación</th>
                                <th>Código</th>
                                <th>Descripción</th>
                                <th>Número de Parte</th>
                                <th>Procedencia</th>
                                <th>Unidad</th>
                                <th>Categoría</th>
                                <th>Stock</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </section>

            <section class="decoracion">
                <canvas id="graficoEquipos" width="200" height="200"></canvas>

                <h2>Dolar hoy</h2>
                    <div class="dollar-price" id="dollar-price">Cargando...</div>

                <section>
                <h3>Buscar Proyecto por ID</h3>
                <input type="text" id="busquedaProyecto" placeholder="Ingrese ID de Proyecto">
                <button onclick="buscarProyectoPorID()">Buscar</button>

                <div id="tablaConvertida"></div>
            </section>

            </section>
        </div>
    </section>
</main>



<script src="/js/infoIndex.js"></script>
<script src="/js/cargardatos.js"></script>
<script src="/js/funcionalidades.js"></script>
<script>
    async function fetchDollarPrice() {
        try {
            const response = await fetch("https://api.exchangerate-api.com/v4/latest/USD");
            const data = await response.json();
            const price = data.rates.COP; // Precio del dólar en pesos mexicanos
            document.getElementById("dollar-price").innerText = `USD: $${price.toFixed(2)} COP`;
        } catch (error) {
            document.getElementById("dollar-price").innerText = "Error al cargar";
            console.error("Error obteniendo el precio del dólar:", error);
        }
    }

    // Llamar la función al cargar la página
    fetchDollarPrice();

    // Actualizar cada 30 segundos
    setInterval(fetchDollarPrice, 30000);


</script>

</body>

</html>