<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/tablas-form.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
    <title>Owl Manager Dashboard</title>
</head>
<body>
    <header>
        <nav class="header">
            <div class="div-logo">
                <img src="/img/buho.png" class="logoImg" alt="Logo de Owl Manager" style="width: 50px">
                <a class="logotexto" href="/templates/index">Owl Manager Dashboard</a>
            </div>
    
            <ul class="nav-list">
                <li><a href="/templates/index" aria-label="Ir a inicio">Inicio</a></li>
    
                <li>
                    <a aria-label="Gestión Usuarios">Gestión Usuarios</a>
                    <ul class="submenu">
                        <li><a href="/templates/nuevo-empleado" aria-label="Agregar nuevo empleado">Nuevo</a></li>
                        <li><a href="/templates/lista-empleado" aria-label="Lista de empleados">Listado</a></li>
                        <li><a href="/templates/registro-horas" aria-label="Registro de horas">Registro de Tiempo</a></li>
                        <li><a href="/templates/lista-registro-horas" aria-label="Lista Registro de horas">Lista Registro de Tiempo</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/templates/nuevo-producto" aria-label="Gestión del Inventario">Gestión del Inventario</a>
                    <ul class="submenu">
    
                        <li><a href="/templates/nuevo-producto" aria-label="Crear nuevo producto">Crear Producto</a></li>
                        <li><a href="/templates/lista-insumo" aria-label="Ver productos">Lista de Productos</a></li>
                        <li><a href="/templates/almacen" aria-label="Almacenar">Ubicar en Almacén</a></li>
                        <li><a href="/templates/lista-almacenaje" aria-label="lista almacen">Alamcen</a></li>
                        <li><a href="/templates/recibirDevoluciones" aria-label="Recibir devoluciones">Recibir Devoluciones</a></li>
                        <li><a href="/templates/reabastecerAlmacen" aria-label="Reabastecer">Reabastecimiento</a></li>
    
                    </ul>
                </li>
                <li>
                    <a href="/templates/gestionProyectos" aria-label="Gestión de Proyectos">Gestión de Proyectos</a>
                    <ul class="submenu">
                        <li><a href="/templates/nuevo-proyecto" aria-label="Agregar nuevo proyecto">Nuevo</a></li>
                        <li><a href="/templates/recibirPedidos" aria-label="Recibir pedidos">Recibir Pedidos</a></li>
                        <li><a href="/templates/lista-proyectos" aria-label="Lista de proyectos">Lista Proyecto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/templates/transferencias" aria-label="Gestión de Transferencias">Gestión de Transferencias</a>
                    <ul class="submenu">
                        <li><a href="/templates/transferir-almacen" aria-label="Transferir a almacén">Transferir a almacén</a></li>
                        <li><a href="/templates/transferir-proyecto" aria-label="Transferir a proyecto">Transferir a proyecto</a></li>
                        <li><a href="/templates/lista-transferenciaAlmacen" aria-label="Lista de transferencias">Lista de Transferencia Almaen</a></li>
                        <li><a href="/templates/lista-transferencia" aria-label="Lista de transferencias">Lista de Transferencia Proyectos</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/templates/reportes" aria-label="Reportes">Reportes</a>
                    <ul class="submenu">
                        <li><a href="#" aria-label="Ver avance en proyecto"><i class="fas fa-project-diagram"></i> Avance en proyecto</a></li>
                        <li><a href="#" aria-label="Ver inventario de proyecto"><i class="fas fa-box"></i> Inventario de proyecto</a></li>
                        <li><a href="#" aria-label="Ver insumos faltantes"><i class="fas fa-exclamation-triangle"></i> Insumos Faltantes</a></li>
                    </ul>
                </li>
                <li><a href="/templates/login" aria-label="Cerrar sesión">Logout</a></li>
            </ul>
        </nav>
    </header>
<main>
    <section class="tables">
        <h2>Listado de Registro de Horas Trabajadas</h2>

        <div class="busqueda">
            <input type="text" id="busqueda" placeholder="Buscar por fecha, proyecto, cédula o empleado..." oninput="filtrarHoras()">
            <label for="filasPorPagina">Filas por página:</label>
            <select id="filasPorPagina" onchange="actualizarFilasPorPagina()">
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <table id="tablaHoras" class="tablaModelo">
            <thead>
            <tr>
                <th class="cabecera">ID</th>
                <th class="cabecera">Fecha</th>
                <th class="cabecera">Proyecto</th>
                <th class="cabecera">Cédula</th>
                <th class="cabecera">Empleado</th>
                <th class="cabecera">Horas Trabajadas</th>
                <th class="cabecera">Usuario</th>
                <th colspan="2">Opciones</th>
            </tr>
            </thead>
            <tbody>
            <!-- Aquí se generarán las filas de horas trabajadas con JavaScript -->
            </tbody>
        </table>

        <div class="paginacion">
            <button id="btnAnterior" onclick="cambiarPagina(-1)">Anterior</button>
            <span id="numeroPagina">1</span>
            <button id="btnSiguiente" onclick="cambiarPagina(1)">Siguiente</button>
        </div>
    </section>

    <section>
        <form id="formregistrohoras" class="formulario"  style="display: none;"  >
            <h2>Registro de Horas</h2>
            <div class="info">
                <div class="form-group">
                    <label for="idRegistroHoras">Fecha:</label>
                    <input type="number" id="idRegistroHoras" name="idRegistroHoras" readonly>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" name="fecha" readonly>
                </div>

                <div class="form-group">
                    <label for="cedula">Cédula:</label>
                    <input type="text" id="cedula" name="cedula" readonly>
                </div>

                <div class="form-group">
                    <label for="nombre">Primer Nombre:</label>
                    <input type="text" id="nombre" name="nombre" readonly>
                </div>

                <div class="form-group">
                    <label for="segundo_nombre">Segundo Nombre:</label>
                    <input type="text" id="segundo_nombre" name="segundo_nombre" readonly>
                </div>

                <div class="form-group">
                    <label for="apellido">Primer Apellido:</label>
                    <input type="text" id="apellido" name="apellido" readonly>
                </div>

                <div class="form-group">
                    <label for="segundo_apellido">Segundo Apellido:</label>
                    <input type="text" id="segundo_apellido" name="segundo_apellido" readonly>
                </div>

                <div class="form-group">
                    <label for="proyecto">Proyecto:</label>
                    <input type="number" id="proyecto" name="proyecto" min="0" >
                </div>

                <div class="form-group">
                    <label for="horas">Horas Trabajadas:</label>
                    <input type="number" id="horas" name="horas" min="0" >
                </div>

                <div class="btnModificar">
                    <button id="btnEditar" type="submit">Guardar</button>
                    <button id="btnCancelar">Cancelar</button>
                </div>

            </div>
        </form>
    </section>
</main>


<script src="/js/listarHoras.js"></script>

</body>
</html>

