<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>Owl Manager Dashboard</title>
</head>

<body>
<header>
    <nav class="header">
        <div class="div-logo">
            <img src="/img/buho.png" class="logoImg" alt="Logo de Owl Manager" style="width: 50px">
            <a class="logotexto" href="/templates/index">Owl Manager Dashboard</a>
        </div>

        <ul class="nav-list">
            <li><a href="/templates/index" aria-label="Ir a inicio">Inicio</a></li>

            <li>
                <a aria-label="Gestión Usuarios">Gestión Usuarios</a>
                <ul class="submenu">
                    <li><a href="/templates/nuevo-empleado" aria-label="Agregar nuevo empleado">Nuevo</a></li>
                    <li><a href="/templates/lista-empleado" aria-label="Lista de empleados">Listado</a></li>
                    <li><a href="/templates/registro-horas" aria-label="Registro de horas">Registro de Tiempo</a></li>
                    <li><a href="/templates/lista-registro-horas" aria-label="Lista Registro de horas">Lista Registro de Tiempo</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/nuevo-producto" aria-label="Gestión del Inventario">Gestión del Inventario</a>
                <ul class="submenu">

                    <li><a href="/templates/nuevo-producto" aria-label="Crear nuevo producto">Crear Producto</a></li>
                    <li><a href="/templates/lista-insumo" aria-label="Ver productos">Lista de Productos</a></li>
                    <li><a href="/templates/almacen" aria-label="Almacenar">Ubicar en Almacén</a></li>
                    <li><a href="/templates/lista-almacenaje" aria-label="lista almacen">Alamcen</a></li>
                    <li><a href="/templates/recibirDevoluciones" aria-label="Recibir devoluciones">Recibir Devoluciones</a></li>
                    <li><a href="/templates/reabastecerAlmacen" aria-label="Reabastecer">Reabastecimiento</a></li>

                </ul>
            </li>
            <li>
                <a href="/templates/gestionProyectos" aria-label="Gestión de Proyectos">Gestión de Proyectos</a>
                <ul class="submenu">
                    <li><a href="/templates/nuevo-proyecto" aria-label="Agregar nuevo proyecto">Nuevo</a></li>
                    <li><a href="/templates/recibirPedidos" aria-label="Recibir pedidos">Recibir Pedidos</a></li>
                    <li><a href="/templates/lista-proyectos" aria-label="Lista de proyectos">Lista Proyecto</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/transferencias" aria-label="Gestión de Transferencias">Gestión de Transferencias</a>
                <ul class="submenu">
                    <li><a href="/templates/transferir-almacen" aria-label="Transferir a almacén">Transferir a almacén</a></li>
                    <li><a href="/templates/transferir-proyecto" aria-label="Transferir a proyecto">Transferir a proyecto</a></li>
                    <li><a href="/templates/lista-transferenciaAlmacen" aria-label="Lista de transferencias">Lista de Transferencia Almaen</a></li>
                    <li><a href="/templates/lista-transferencia" aria-label="Lista de transferencias">Lista de Transferencia Proyectos</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/reportes" aria-label="Reportes">Reportes</a>
                <ul class="submenu">
                    <li><a href="#" aria-label="Ver avance en proyecto"><i class="fas fa-project-diagram"></i> Avance en proyecto</a></li>
                    <li><a href="#" aria-label="Ver inventario de proyecto"><i class="fas fa-box"></i> Inventario de proyecto</a></li>
                    <li><a href="#" aria-label="Ver insumos faltantes"><i class="fas fa-exclamation-triangle"></i> Insumos Faltantes</a></li>
                </ul>
            </li>
            <li><a href="/templates/login" aria-label="Cerrar sesión">Logout</a></li>
        </ul>
    </nav>
</header>

<main>
    <section>
            <form class="formulario" id="formProducto">
                <div class="info">
                    <div class="form-group">
                        <label for="codigo_insumo">Codigo:</label>
                        <input type="number" id="codigo_insumo" name="codigo_insumo" required>
                    </div>

                    <div class="form-group">
                        <label for="nombre">Descripción:</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>

                    <div class="form-group">
                        <label for="numero_parte">Número de Parte:</label>
                        <input type="text" id="numero_parte" name="numero_parte" required>
                    </div>

                    <div class="form-group">
                        <label for="procedencia">Procedencia:</label>
                        <select id="procedencia" name="procedencia" required>
                            <option value="">Seleccione procedencia</option>
                            <option value="nacional">Nacional</option>
                            <option value="importado">Importado</option>
                        </select>
                    </div>

                    <!-- Campo Unidad, opciones pobladas desde la base de datos -->
                    <div class="form-group">
                        <label for="unidad">Unidades de Producto:</label>
                        <select id="unidad" name="unidad" required>
                            <option value="">Seleccione una unidad</option>
                            <!-- Las opciones se poblarán dinámicamente desde la base de datos -->
                        </select>
                    </div>

                    <!-- Campo Categoría, opciones pobladas desde la base de datos -->
                    <div class="form-group">
                        <label for="categoria_insumo">Categoría:</label>
                        <select id="categoria_insumo" name="categoria_insumo" required>
                            <option value="">Seleccione una categoría</option>
                            <!-- Las opciones se poblarán dinámicamente desde la base de datos -->
                        </select>
                    </div>
                    <div class="btn-nuevo">
                        <button id="btnCrearProducto" type="submit">CREAR</button>
                    </div>
                </div>
            </form>

            
    </section>
</main>

</body>
<script src="/js/newProducto.js"></script>
</html>