<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <nav class="header">
        <div class="div-logo">
            <img src="/img/buho.png" class="logoImg" alt="Logo de Owl Manager" style="width: 50px">
            <a class="logotexto" href="/templates/index">Owl Manager Dashboard</a>
        </div>

        <ul class="nav-list">
            <li><a href="/templates/index" aria-label="Ir a inicio">Inicio</a></li>

            <li>
                <a aria-label="Gestión Usuarios">Gestión Usuarios</a>
                <ul class="submenu">
                    <li><a href="/templates/nuevo-empleado" aria-label="Agregar nuevo empleado">Nuevo</a></li>
                    <li><a href="/templates/lista-empleado" aria-label="Lista de empleados">Listado</a></li>
                    <li><a href="/templates/registro-horas" aria-label="Registro de horas">Registro de Tiempo</a></li>
                    <li><a href="/templates/lista-registro-horas" aria-label="Lista Registro de horas">Lista Registro de Tiempo</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/nuevo-producto" aria-label="Gestión del Inventario">Gestión del Inventario</a>
                <ul class="submenu">

                    <li><a href="/templates/nuevo-producto" aria-label="Crear nuevo producto">Crear Producto</a></li>
                    <li><a href="/templates/lista-insumo" aria-label="Ver productos">Lista de Productos</a></li>
                    <li><a href="/templates/almacen" aria-label="Almacenar">Ubicar en Almacén</a></li>
                    <li><a href="/templates/lista-almacenaje" aria-label="lista almacen">Alamcen</a></li>
                    <li><a href="/templates/recibirDevoluciones" aria-label="Recibir devoluciones">Recibir Devoluciones</a></li>
                    <li><a href="/templates/reabastecerAlmacen" aria-label="Reabastecer">Reabastecimiento</a></li>

                </ul>
            </li>
            <li>
                <a href="/templates/gestionProyectos" aria-label="Gestión de Proyectos">Gestión de Proyectos</a>
                <ul class="submenu">
                    <li><a href="/templates/nuevo-proyecto" aria-label="Agregar nuevo proyecto">Nuevo</a></li>
                    <li><a href="/templates/recibirPedidos" aria-label="Recibir pedidos">Recibir Pedidos</a></li>
                    <li><a href="/templates/lista-proyectos" aria-label="Lista de proyectos">Lista Proyecto</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/transferencias" aria-label="Gestión de Transferencias">Gestión de Transferencias</a>
                <ul class="submenu">
                    <li><a href="/templates/transferir-almacen" aria-label="Transferir a almacén">Transferir a almacén</a></li>
                    <li><a href="/templates/transferir-proyecto" aria-label="Transferir a proyecto">Transferir a proyecto</a></li>
                    <li><a href="/templates/lista-transferenciaAlmacen" aria-label="Lista de transferencias">Lista de Transferencia Almaen</a></li>
                    <li><a href="/templates/lista-transferencia" aria-label="Lista de transferencias">Lista de Transferencia Proyectos</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/reportes" aria-label="Reportes">Reportes</a>
                <ul class="submenu">
                    <li><a href="#" aria-label="Ver avance en proyecto"><i class="fas fa-project-diagram"></i> Avance en proyecto</a></li>
                    <li><a href="#" aria-label="Ver inventario de proyecto"><i class="fas fa-box"></i> Inventario de proyecto</a></li>
                    <li><a href="#" aria-label="Ver insumos faltantes"><i class="fas fa-exclamation-triangle"></i> Insumos Faltantes</a></li>
                </ul>
            </li>
            <li><a href="/templates/login" aria-label="Cerrar sesión">Logout</a></li>
        </ul>
    </nav>
</header>

    <main class="main-index">
        <!-- Barra de navegación lateral -->
        <aside class="nav-lateral">
            <nav>
                <ul>
                    <li><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
                    <li>
                        <i class="fas fa-users"></i> Usuarios
                        <ul>
                            <li><a href="nuevo-empleado.html"><i class="fas fa-user-plus"></i> Registrar</a></li>
                            <li><a href="lista-empleado.html"><i class="fas fa-list"></i> Lista Empleados</a></li>
                            <li><a href="registro-horas.html"><i class="fas fa-clock"></i> Registro de horas</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="fas fa-box"></i> Inventario
                        <ul>
                            <li><a href="nuevo-producto.html"><i class="fas fa-box-open"></i> Crear producto</a></li>
                            <li><a href="lista-insumo.html"><i class="fas fa-cogs"></i> Almacén</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="fas fa-tachometer-alt"></i> Proyectos
                        <ul>
                            <li><a href="nuevo-proyecto.html"><i class="fas fa-plus-circle"></i> Nuevo</a></li>
                            <li><a href="recibirPedidos.html"><i class="fas fa-receipt"></i> Recibir Pedidos</a></li>
                            <li><a href="lista-proyectos.html"><i class="fas fa-list"></i> Lista Proyecto</a></li>
                        </ul>
                    </li>
                    <li>
                        <i class="fas fa-box"></i> Transferencias
                        <ul>
                            <li><a href="transferirAlmacen.html"><i class="fas fa-warehouse"></i> Transferir a
                                    almacén</a></li>
                            <li><a href="transferirProyecto.html"><i class="fas fa-project-diagram"></i> Transferir a
                                    proyecto</a></li>
                            <li><a href="listaTransferencia.html"><i class="fas fa-list"></i> Lista de Transferencia</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <i class="fas fa-chart-line"></i> Reportes
                        <ul>
                            <li><a href="#"><i class="fas fa-project-diagram"></i> Avance en proyecto</a></li>
                            <li><a href="#"><i class="fas fa-box"></i> Inventario de proyecto</a></li>
                            <li><a href="#"><i class="fas fa-exclamation-triangle"></i> Insulto Faltantes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>

        <section>

        </section>

    </main>
    
</body>
</html>