<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="es">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="/css/form.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>Owl Manager Dashboard</title>
</head>

<body>
<header>
    <nav class="header">
        <div class="div-logo">
            <img src="/img/buho.png" class="logoImg" alt="Logo de Owl Manager" style="width: 50px">
            <a class="logotexto" href="/templates/index">Owl Manager Dashboard</a>
        </div>

        <ul class="nav-list">
            <li><a href="/templates/index" aria-label="Ir a inicio">Inicio</a></li>

            <li>
                <a aria-label="Gestión Usuarios">Gestión Usuarios</a>
                <ul class="submenu">
                    <li><a href="/templates/nuevo-empleado" aria-label="Agregar nuevo empleado">Nuevo</a></li>
                    <li><a href="/templates/lista-empleado" aria-label="Lista de empleados">Listado</a></li>
                    <li><a href="/templates/registro-horas" aria-label="Registro de horas">Registro de Tiempo</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/nuevo-producto" aria-label="Gestión del Inventario">Gestión del Inventario</a>
                <ul class="submenu">
                    <li><a href="/templates/nuevo-producto" aria-label="Crear nuevo producto">Crear producto</a></li>
                    <li><a href="/templates/lista-insumo" aria-label="Ver almacén">Almacén</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/gestionProyectos" aria-label="Gestión de Proyectos">Gestión de Proyectos</a>
                <ul class="submenu">
                    <li><a href="/templates/nuevo-proyecto" aria-label="Agregar nuevo proyecto">Nuevo</a></li>
                    <li><a href="/templates/recibirPedidos" aria-label="Recibir pedidos">Recibir Pedidos</a></li>
                    <li><a href="/templates/lista-proyectos" aria-label="Lista de proyectos">Lista Proyecto</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/transferencias" aria-label="Gestión de Transferencias">Gestión de Transferencias</a>
                <ul class="submenu">
                    <li><a href="/templates/transferir-almacen" aria-label="Transferir a almacén">Transferir a
                        almacén</a></li>
                    <li><a href="/templates/transferir-proyecto" aria-label="Transferir a proyecto">Transferir a
                        proyecto</a></li>
                    <li><a href="/templates/lista-transferencia" aria-label="Lista de transferencias">Lista de
                        Transferencia</a></li>
                </ul>
            </li>
            <li>
                <a href="/templates/reportes" aria-label="Reportes">Reportes</a>
                <ul class="submenu">
                    <li><a href="#" aria-label="Ver avance en proyecto"><i class="fas fa-project-diagram"></i> Avance en
                        proyecto</a></li>
                    <li><a href="#" aria-label="Ver inventario de proyecto"><i class="fas fa-box"></i> Inventario de
                        proyecto</a></li>
                    <li><a href="#" aria-label="Ver insumos faltantes"><i class="fas fa-exclamation-triangle"></i>
                        Insumos Faltantes</a></li>
                </ul>
            </li>
            <li><a href="/templates/login" aria-label="Cerrar sesión">Logout</a></li>
        </ul>
    </nav>
</header>


<main>

    <section>


        <form id="miFormulario">
            <label>Fecha:</label>
            <input type="date" id="fecha" required><br><br>


            <label>Codigo Insumo:</label>
            <input type="number" id="insumo" required>

            <button type="button" id="buscarInsumo" title="Buscar Insumo">🔍</button>
            <br>
            <br>
            <span id="mensaje-error" style="color: red;"></span>
            <br>

            <label>Descripcion:</label>
            <input type="text" id="description"><br><br>

            <label>Cantidad:</label>
            <input type="number" id="cantidad_entrada" required>
            <br><br>

            <label>Ubicación:</label>
            <input type="number" id="Estante" required><br><br>

            <button id="btn-nuevo" type="button">Guardar</button>

        </form>

    </section>

</main>
<script src="/js/newTransferenciaAlmacen.js"></script>
</body>

</html>